#root,
body {
  height: 100%;
}

html {
  height: 100%;
  /* overflow-y: auto; */
}

body {
  background-color: #877785;
}

/* #877785
#F7C9B6
#F0D1BF
#C59894
#E85A4F */
.grandparents {
  height: 200px;
}
#app-div {
  position: static;
}

.scrollable-div {
  overflow: auto;
  height: calc(100vh - 46px);
  width: 100vw;
}

@media screen and (min-width: 600px) {
  #app-div {
    /* background: url(./Images/Betty-White.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 56px !important;
  }
}
