/* #root, */
#app-div,
body {
  height: 100vh;
  overflow: auto;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Images/jordane-mathieu-CkirKRvqXUs-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  /* background-color: rgba(0, 0, 0, 0.35); */
  /* background-color: rgb(18, 21, 23); */
}

/* #877785
#F7C9B6
#F0D1BF
#C59894
#E85A4F */

#app-div {
  /* overflow-y: auto; */
  overflow-x: hidden;
  /* background-color: rgb(18, 21, 23); */
  position: static;
}

/* #body-container{
} */
@media screen and (min-width: 600px) {
  #app-div {
    /* background: url(./Images/Betty-White.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 56px !important;
  }
}
