#root {
  height: 100%;
}

body {
  background-color: gray;
}

#app-div {
  /* background: url(./Images/Betty-White.jpg); */
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
}

/* #body-container{
} */
@media screen and (min-width: 600px) {
  #app-div {
    /* background: url(./Images/Betty-White.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 56px !important;
  }
}
