.dashboard-container > .row {
  height: 33.33%;
  padding: 0px;
}
.dashboard-container {
  height: calc(100vh - 116px);
}
/* .dashboard-label {
  width: 100%;
} */

.dashboard-recipes {
  height: 100%;
}
