@media screen and (max-width: 600px) {
  .page-wrapper-container {
    /* height: 100%; */
    z-index: 1000;
    width: 100vw;
    padding-bottom: 56px;
    position: relative;
  }
  .background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
      url(./../../Images/photoshop_knife.png);
    background-color: #f0d1bf;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: 0;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
  }

  .background-true {
    border-radius: 18px 18px 0px 0px;
    background-color: #f0d1bf;
  }

  .page-wrapper-content {
    position: relative;
  }

  .page-shade {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .page-wrapper-open {
    box-shadow: 0px -8px 30px 0px rgba(0, 0, 0, 0.65),
      0px -5px 10px -5px rgba(0, 0, 0, 0.75);
    border-radius: 20px 20px 0px 0px;
    background-color: #f0d1bf;
  }
}
@media screen and (min-width: 601px) {
  .background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
      url(./../../Images/knife.jpg);
    background-color: #f0d1bf;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    z-index: 0;
    position: fixed;
    border-radius: 0px 0px 0px 0px;
  }

  .page-wrapper-content {
    position: relative;
  }

  .page-wrapper-container {
    padding-top: 0px;
    width: 100vw;
    padding-bottom: 0px;
  }
}
