.family-card {
  width: 100%;
  background-color: #5f525d;
  margin: 0px;
  margin-bottom: 10px;
}

.family-card-title {
  font-size: 1rem;
}

.family-slider {
  margin-bottom: 30px;
  padding: 0px 23px 0px 23px;
}

.invitation-div {
  color: white;
}

.slick-prev {
  display: block !important;
  /* position: absolute; */
  left: 0 !important;
  z-index: 100 !important;
}
.slick-next {
  display: block !important;
  /* position: absolute; */
  right: 2px !important;
  z-index: 100 !important;
}

.slick-prev::before,
.slick-next::before {
  color: #5f525d !important;
  opacity: 1;
  font-size: 1.5rem;
}
