.signin-menu {
  position: absolute;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.fa-arrow-circle-right {
  color: #877785;
}

.sign-container {
  bottom: 0px;
  height: calc(100% - 50px);
  padding: 15px 50px 0px 50px;
}

.welcome-sign {
  color: #f7c9b6;
  margin-bottom: 75px;
}

.signup-container {
  position: absolute;
  bottom: 0px;
  height: 95vh;
  width: 100%;
  padding: 30px 50px 0px 50px;
}

.sign-input {
  background: none;
  border: none;
  color: #c59894;
  width: 100%;
}
/* Change the white to any color ;) */
@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent !important;
  }
}

.sign-input:-webkit-autofill {
  -webkit-animation-name: autofill !important;
  -webkit-animation-fill-mode: both !important;
}
.sign-input:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  outline: none;
  border: none;
}

.sign-input::placeholder {
  color: #c59894;
  font-size: 15px;
  /* text-shadow: 0px 1px 6px #252525; */
}

.sign-input-label {
  width: 100vw;
  color: #f0d1bf;
  margin: 0px;
  font-size: 20px;
  text-shadow: 0px 5px 10px #252525;
}

.signin-button {
  background-color: #877785;
  outline: none;
  border-color: #c59894;
  height: 45px;
  width: 100px;
  color: #ffffff;
}

.sign-underline {
  margin-top: 2px;
  background: #877785;
  width: 100%;
  border: solid 1.5px #877785 !important;
  border-radius: 50px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.facebook-login,
.google-login {
  height: 45px;
  width: 110px;
  border-radius: 5px !important;
  background-color: #877785 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}

.google-login div {
  height: 42px;
  border-radius: 5px !important;
  background-color: #877785 !important;
}

.fa-facebook {
  color: #29487d;
}

.sign-welcome {
  color: #f7c9b6;
  margin-bottom: 30%;
  margin-top: 5%;
  text-shadow: 0px 5px 13px #252525;
}

.back-to-home {
  position: absolute;
  top: 3px;
  left: 20px;
  font-size: 40px;
  font-weight: bold;
  fill: #f0d1bf;
}
