.owl-stage-outer,
.owl-stage,
.owl-item {
  height: auto;
}

.grandma-card-body {
  height: auto;
  color: #ffffff;
  font-size: large;
  border-radius: 0px 0px 10px 10px;
  margin-top: 50vh !important;
  margin-bottom: 20px !important;
  position: relative;
  z-index: 5;
  color: white;
}

.grandma-card {
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.65); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.owl-stage > .active {
  padding-bottom: 15px;
  padding-top: 5px;
}
.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}
.card-img-top-shadow {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-shadow: inset 5px -160px 100px 5px #000000, inset 0 5px 15px #000000;
  border-radius: 10px;
  top: 0;
  left: 0;
}
p {
  font-family: "Montserrat", sans-serif;
}

.grandma-card-title {
  position: absolute;
  top: 10px;
  left: 12px;
  text-shadow: 2px 2px 2px #000;
  font-family: "Dancing Script", cursive;
  color: #f0d1bf;
  font-size: 2em;
  z-index: 100;
}

.card-author {
  float: right;
}

.mini-card-container {
  display: table;
  height: 130px;
  padding: 10px;
}

.mini-card-container > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
