.general-card {
  margin: 0 auto;
  height: auto;
  min-height: 90vh;
  background-color: black;
  position: relative;
  width: 23rem;
  border-radius: 10px;
  overflow: hidden;
}

.recipe-card {
  padding-top: 10px;
  width: 100%;
  height: 130px;
  background: black;
}
.grandma-card-header {
  position: absolute;
  z-index: 100;
  top: 0;
  font-size: 0.8rem;
  width: 100%;
  background-color: #5f525d;
}

.recipe-card-header {
  position: absolute;
  z-index: 100;
  top: 0;
  font-size: 0.8rem;
  width: 100%;
  background-color: #5f525d;
  /* padding: 5px; */
}

.recipe-card-title {
  width: 75%;
  float: left;
  font-family: "Dancing Script", cursive;
  color: #f7c9b6;
  margin: 0px;
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
  top: 10px;
  left: 12px;
}

.card-recipe-img {
  object-fit: cover;
  height: 130px;
}

.recipe-card-body {
  /* position: absolute; */
  background: transparent;
  padding-top: 200px;
}

.card-graphics-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  margin: 0px;
}
.card-graphics-container-light {
  height: 50vh;
}
.card-graphics-container-dark {
  height: 50vh;
  position: relative;
  z-index: 5;
  border-radius: 10px;
  background-image: linear-gradient(
    #00000000,
    #00000099,
    #000000d1,
    #000000ed,
    #000000fc,
    rgb(0, 0, 0, 1)
  );
}

.ingredients-check-container {
  width: 100%;
  /* background-color: black; */
  /* border-radius: 10px; */
  border-bottom: 1px solid #c59894;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
  margin-bottom: 10px;
}

.custom-checkbox-container {
  background-color: transparent;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 5px;
  top: 3.5px;
  border: 2px solid #877785;
}

.check-mark {
  position: absolute;
  position: absolute;
  left: 2px;
  top: 2.5px;
  /* z-index: 100; */
}

.custom-checkbox-label {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
  color: #c59894;
}

.owl-stage-outer,
.owl-stage,
.owl-item {
  height: auto;
}

.grandma-card-body {
  height: auto;
  color: #ffffff;
  font-size: large;
  border-radius: 0px 0px 10px 10px;
  margin-top: 50vh !important;
  margin-bottom: 20px !important;
  padding-top: 100px;
  position: relative;
  z-index: 5;
  color: white;
}

.grandma-card {
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.65); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.owl-stage > .active {
  padding-bottom: 15px;
  padding-top: 5px;
}
.card-img-top {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  /* border-radius: 10px; */
  height: 90vh;
  object-fit: cover;
  object-position: center;
}
.card-img-top-shadow {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-shadow: inset 5px -160px 100px 5px #000000, inset 0 5px 15px #000000;
  border-radius: 10px;
  top: 0;
  left: 0;
}
p {
  font-family: "Montserrat", sans-serif;
}

.grandma-card-title {
  position: absolute;
  top: 0px;
  left: 10px;
  text-shadow: 2px 2px 2px #000;
  font-family: "Dancing Script", cursive;
  color: #f7c9b6;
  font-size: 2.4em;
  z-index: 100;
}

.grandma-recipe-card-date {
  font-size: 0.7rem;
  color: #ffffff;
  padding-left: 15px;
  position: absolute;
  left: 2px;
  bottom: 37px;
}

.card-author {
  float: right;
}

.mini-card-container {
  display: table;
  height: 130px;
  padding: 10px;
}

.mini-card-container > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mini-recipe-card {
  width: 100%;
  background-color: #5f525d;
  margin: 0px;
  margin-bottom: 10px;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
}
.mini-card-recipe-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.mini-card-container {
  display: table;
  height: auto;
  padding: 0px;
}

.mini-card-container > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mini-recipe-care-title-container {
  height: 50px;
}

.mini-recipe-card-title {
  font-size: 1.3rem;
  color: #f7c9b6;
  padding-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
}

.mini-recipe-card-date {
  font-size: 0.8rem;
  color: #ffffff;
  padding-left: 15px;
  position: absolute;
  left: 2px;
  top: 27px;
}

.mini-recipe-card-description-short {
  max-height: 75px;
  overflow: hidden;
  transition: ease-in all 300ms;
  -moz-box-shadow: inset 0px -2px 10px -6px #000000;
  -webkit-box-shadow: inset 0px -2px 10px -6px #000000;
  box-shadow: inset 0px -2px 10px -6px #000000;
}

.mini-recipe-card-description-full {
  max-height: 500px;
  overflow: hidden;
  transition: ease-in-out all 300ms;
}

.mini-recipe-card-description {
  font-size: 0.8rem;
  padding: 15px;
  margin-bottom: 0px;
  color: #f7c9b6;
}
.mini-recipe-card-actions {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  height: 45px;
  width: 100%;
  margin: auto;
}
.mini-recipe-card-heart-container {
  width: 35px;
  padding: 0px;
  float: left;
  z-index: 100;
  padding-top: 1px;
}

.mini-heart,
.mini-chevron-down {
  width: 28px;
  height: 28px;
}

.mini-share {
  padding-left: 30px;
}

.mini-share button {
  margin-left: 5px;
}

.mini-chevron-down,
.mini-chevron-up {
  padding: 0px;
  float: right;
}

/*============== HEADER OPTIONS =============*/
.recipe-header-options {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 5px;
}

.option-false {
  max-height: 0px;
  transition: ease-in all 300ms;
}
.option-true {
  max-height: 200px;
  transition: ease-in all 100ms;
}

.options-delay-false {
  opacity: 0;
  transition-delay: 2s;
  transition: ease-in all 300ms;
}

.options-delay-true {
  opacity: 1;
  transition-delay: 2s;
  transition: ease-in all 250ms;
}

.three-dot-icon,
.x-icon {
  height: 28px;
  width: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.options-diplay {
  background-color: #5f525d;
  margin-top: 44px;
  width: 100%;
  padding: 15px;
}

.bi-person-fill,
.bi-people-fill,
.bi-arrows-fullscreen,
.bi-gear {
  height: 30px;
  width: 30px;
  float: right;
  color: #f7c9b6;
}

.privacy-label {
  width: 70%;
}
.react-share__ShareButton[aria-label="facebook"] {
  background-color: #3b5998 !important;
}
.react-share__ShareButton[aria-label="email"] {
  background-color: #7f7f7f !important;
}
.react-share__ShareButton[aria-label="whatsapp"] {
  background-color: #2cb742 !important;
}

.react-share__ShareButton {
  width: 100%;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #c59894 !important;
  border-radius: 5px !important;
  height: 45px;
  font-weight: 400;
  color: #ffffff !important;
  font-size: 1rem !important;
}
