.card-recipe {
  width: 90vw;
  margin: auto;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  background-color: #698474 !important;
  color: #fcf8f3;
}

.card-recipe .card-recipe-header {
  background-color: #698474;
  border-radius: 15px 15px 0px 0px;
}

.card-recipe .card-recipe-header .card-recipe-title-container {
  width: 100%;
  float: left;
  position: relative;
}

.card-recipe .card-recipe-header .card-recipe-title-container .card-recipe-title {
  font-size: 1.3rem;
  color: #fcf8f3;
  padding-top: 0px;
  padding-left: 15px;
  margin-bottom: 0px;
  width: 60%;
}

.card-recipe .card-recipe-header .card-recipe-title-container .card-recipe-date {
  font-size: 12px;
  color: #ffd3b6;
  padding-left: 15px;
}

.card-recipe .card-recipe-header .card-recipe-title-container .card-recipe-title-edit {
  float: right;
  text-align: right;
  font-size: 25px;
  padding-right: 10px;
}

.card-recipe .card-recipe-header .card-recipe-title-container .card-recipe-title-edit-input {
  margin: 5px 5px 2px 8px;
  border-radius: 5px;
  text-indent: 5px;
  width: 95%;
}

.card-recipe .card-recipe-header .card-recipe-title-container .card-recipe-title-edit-save {
  text-align: center;
}

.card-recipe .card-recipe-header .card-recipe-title-container .card-recipe-title-edit-save button {
  margin-left: 10px;
  margin-right: 10px;
}

.card-recipe .card-recipe-header .card-recipe-selected-options {
  width: 100%;
  position: absolute;
  text-align: right;
  font-size: 35px;
}

.card-recipe .card-recipe-header svg {
  padding-top: 10px;
  vertical-align: top;
}

.card-recipe .card-recipe-header .options-display {
  padding: 10px;
}

.card-recipe .card-recipe-header .option-true {
  background-color: #fcf8f3;
}

.card-recipe .card-recipe-header .recipe-option-button {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35) !important;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35) !important;
  width: 100%;
}

.card-recipe .card-graphics-container {
  width: 100%;
  margin: 0;
  position: relative;
}

.card-recipe .card-graphics-container .card-recipe-image-edit-container {
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.card-recipe .card-graphics-container .card-recipe-image-edit-container input {
  width: 90%;
  height: 45px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.35) !important;
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.35) !important;
  color: #698474;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-recipe .card-graphics-container .card-recipe-image-edit-container input::-webkit-file-upload-button {
  visibility: hidden;
  width: 50%;
  height: 40px;
}

.card-recipe .card-graphics-container .card-recipe-image-edit-container input::before {
  line-height: 33px;
  font-size: 1rem;
  border-radius: 10px;
  content: "Select an image";
  width: 40%;
  height: 45px;
  display: inline-block;
  background-color: #877785;
  color: #ffffff;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  border: 1px solid #c59894;
  text-align: center;
  border-radius: 10px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  line-height: 32px;
}

.card-recipe .card-graphics-container .card-recipe-image-edit-container .card-recipe-image-edit-save {
  position: absolute;
  bottom: 40px;
  vertical-align: middle;
  margin: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-recipe .card-graphics-container .card-recipe-image-edit {
  position: absolute;
  bottom: 10px;
  right: 13px;
  font-size: 20px;
}

.card-recipe .card-recipe-body {
  background-color: #698474;
  border-radius: 0px 0px 15px 15px;
}

.card-recipe .card-recipe-body label {
  width: 90%;
}

.card-recipe .card-recipe-body .card-recipe-body-edit {
  float: right;
  text-align: right;
  font-size: 15px;
}

.card-recipe .card-recipe-body .ingredients-check-container {
  width: 100%;
  border-bottom: 1px solid #c59894;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
  margin-bottom: 10px;
}

.card-recipe .card-recipe-body .ingredients-check-container .custom-checkbox-container {
  background-color: transparent;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 5px;
  top: 3.5px;
  border: 2px solid #fcf8f3;
}

.card-recipe .card-recipe-body .ingredients-check-container .check-mark {
  position: absolute;
  position: absolute;
  left: 2px;
  top: 2.5px;
  fill: #ffaaa5;
}

.card-recipe .card-recipe-body .ingredients-check-container .custom-checkbox-label {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 500;
  color: #fcf8f3;
}

.card-recipe .card-recipe-body .card-recipe-directions-edit {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.card-recipe .card-recipe-body .card-author {
  text-align: right;
  padding-right: 10px;
}

.ingredients-input-label {
  text-align: left;
}

.ingredient-input {
  width: 100%;
}

.ingredient-button {
  width: 100%;
  margin-top: 12px;
  background-color: #877785;
  outline: none;
  border-color: #c59894;
  height: 45px;
  color: #fcf8f3;
}

.ingredients-container {
  max-height: 300px;
  overflow: auto;
}

.ingredients-container .edit-ingredient {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.ingredients-container .main-ingredient {
  width: 75%;
  margin: auto;
  text-align: center;
  min-width: 200px;
  word-wrap: normal;
}

.ingredients-container .delete-ingredient {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

.card-recipe-edit {
  background-color: #dadcde;
  padding: 10px;
  width: 90vw;
  margin: auto;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  color: #698474;
}

.card-recipe-edit .card-recipe-underline {
  border-color: #ffd3b6;
}

.save-button {
  width: 75px;
  font-size: 0.8rem;
  background-color: #698474;
  border-radius: 5px;
  border: 1px solid #fcf8f3;
  color: #fcf8f3;
}
/*# sourceMappingURL=recipe.css.map */