$pinkishColor: #ffaaa5;
$tanishColor: #ffd3b6;
$whiteColor: #fcf8f3;
$greenishColor: #698474;
.card-recipe {
  width: 90vw;
  margin: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  background-color: $greenishColor !important;
  color: $whiteColor;
  .card-recipe-header {
    background-color: $greenishColor;
    border-radius: 15px 15px 0px 0px;

    .card-recipe-title-container {
      width: 100%;
      float: left;
      position: relative;
      .card-recipe-title {
        font-size: 1.3rem;
        color: $whiteColor;
        padding-top: 0px;
        padding-left: 15px;
        margin-bottom: 0px;
        width: 60%;
      }

      .card-recipe-date {
        font-size: 12px;
        color: $tanishColor;
        padding-left: 15px;
      }
      .card-recipe-title-edit {
        float: right;
        text-align: right;
        font-size: 25px;
        padding-right: 10px;
      }
      .card-recipe-title-edit-input {
        margin: 5px 5px 2px 8px;
        border-radius: 5px;
        text-indent: 5px;
        width: 95%;
      }

      .card-recipe-title-edit-save {
        text-align: center;
        button {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .card-recipe-selected-options {
      width: 100%;
      position: absolute;
      text-align: right;
      font-size: 35px;
    }
    svg {
      padding-top: 10px;
      vertical-align: top;
    }
    .options-display {
      padding: 10px;
    }
    .option-true {
      background-color: $whiteColor;
    }

    .recipe-option-button {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35) !important;
      width: 100%;
    }
  }

  .card-graphics-container {
    width: 100%;
    margin: 0;
    position: relative;
    .card-recipe-image-edit-container {
      height: 100%;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 100%;
      input {
        width: 90%;
        height: 45px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.35) !important;
        color: $greenishColor;
        vertical-align: middle;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      input::-webkit-file-upload-button {
        visibility: hidden;
        width: 50%;
        height: 40px;
      }
      input::before {
        line-height: 33px;
        font-size: 1rem;
        border-radius: 10px;
        content: "Select an image";
        width: 40%;
        height: 45px;
        display: inline-block;
        background-color: #877785;
        color: #ffffff;
        /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
        border: 1px solid #c59894;
        text-align: center;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        line-height: 32px;
      }

      .card-recipe-image-edit-save {
        position: absolute;
        bottom: 40px;
        vertical-align: middle;
        margin: 0;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .card-recipe-image-edit {
      position: absolute;
      bottom: 10px;
      right: 13px;
      font-size: 20px;
    }
  }

  .card-recipe-body {
    background-color: $greenishColor;
    border-radius: 0px 0px 15px 15px;
    label {
      width: 90%;
    }
    .card-recipe-body-edit {
      float: right;
      text-align: right;
      font-size: 15px;
    }
    .ingredients-check-container {
      width: 100%;
      border-bottom: 1px solid #c59894;
      padding-left: 30px;
      padding-right: 10px;
      position: relative;
      margin-bottom: 10px;

      .custom-checkbox-container {
        background-color: transparent;
        border-radius: 5px;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 5px;
        top: 3.5px;
        border: 2px solid $whiteColor;
      }
      .check-mark {
        position: absolute;
        position: absolute;
        left: 2px;
        top: 2.5px;
        fill: $pinkishColor;
      }
      .custom-checkbox-label {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        font-weight: 500;
        color: $whiteColor;
      }
    }

    .card-recipe-directions-edit {
      width: 100%;
      border-radius: 10px;
      height: auto;
    }
    .card-author {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.ingredients-input-label {
  text-align: left;
}

.ingredient-input {
  width: 100%;
}
.ingredient-button {
  width: 100%;
  margin-top: 12px;
  background-color: #877785;
  outline: none;
  border-color: #c59894;
  height: 45px;
  color: $whiteColor;
}

.ingredients-container {
  max-height: 300px;
  overflow: auto;
  .edit-ingredient {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
  }

  .main-ingredient {
    width: 75%;
    margin: auto;
    text-align: center;
    min-width: 200px;
    word-wrap: normal;
  }

  .delete-ingredient {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.card-recipe-edit {
  background-color: #dadcde;
  padding: 10px;
  width: 90vw;
  margin: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  color: $greenishColor;

  .card-recipe-label {
  }
  .card-recipe-underline {
    border-color: $tanishColor;
  }
}

.save-button {
  width: 75px;
  font-size: 0.8rem;
  background-color: $greenishColor;
  border-radius: 5px;
  border: 1px solid $whiteColor;
  color: $whiteColor;
}
