.recipe-card {
  height: 100%;
  width: 175px;
}

.recipe-card-image {
  object-fit: contain;
}

.recipe-profile-container {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.white-background {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

#recipe-title {
  color: #050a30;
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
  line-height: 1;
  width: 100%;
}

.ingredients-container {
  height: 100%;
  background-image: url('./../../Images/linedpaper.png');
}
.false-ingredients {
  opacity: 0;
  height: 0px;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease 0.5s;
  -moz-transition: height 0.3s ease-out, opacity 0.2s ease 0.5s;
  -o-transition: height 0.3s ease-out, opacity 0.2s ease 0.5s;
  transition: height 0.3s ease-out, opacity 0.2s ease 0.5s;
}
.true-ingredients {
  height: 200px;
  opacity: 1;
  -webkit-transition: height 0.3s ease-out, opacity 0.4s ease 0.5s;
  -moz-transition: height 0.3s ease-out, opacity 0.4s ease 0.5s;
  -o-transition: height 0.3s ease-out, opacity 0.4s ease 0.5s;
  transition: height 0.3s ease-out, opacity 0.4s ease 0.5s;
}

.chef-biography {
}

.recipe-image {
  height: 60%;
  object-fit: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
}
