.navbar {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 1000;
  top: 0;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f0d1bf;
}

#navbarSupportedContent {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  padding-left: 20px;
}

.navbar-brand-close {
  font-family: "Dancing Script", cursive;
  color: #f7c9b6;
  font-size: 2em;
  padding: 0px;
  line-height: 1.2;
  margin-left: 15px;
  transition: all 0.3s;
}

.navbar-brand-open {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  padding: 0px;
  line-height: 1.2;
  margin-left: 15px;
  color: #f7c9b6;
  transition: all 0.7s;
}

.navbar-open {
  background-color: #877785;
  transition: all 0.3s;
}
