.top-nav-close {
  height: 0px;
  z-index: 0;
  transition: ease 300ms height;
}

.icon-chef {
  height: 35px;
  fill: #877785;
}
.profile-icon-container {
  text-align: center;
  padding-top: 13px;
}
.icon-house {
  font-size: 40px;
  color: #877785;
}

.icon-profile {
  font-size: 30px;
  color: #877785;
}

.top-nav-open {
  display: block;
  height: 60px;
  z-index: 0;
  top: 0;
  transition: ease 300ms height;
}
